<h1>New Goal</h1>

<form action="<%= user_goals_url %>" method="POST" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="name">Name</label>
	<input type="text" name="goal[name]" value="<%= @goal.name %>" id="name">
	<br>

	<input type="radio" name="goal[public]" value="true" id="public">
	<label for="public">Public</label>
	<input type="radio" name="goal[public]" value="false" id="private">
	<label for="private">Private</label>

	<p><input type="submit" value="Create Goal"></p>
</form>